body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #1e293b;
}

#chatBox {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.user {
  text-align: right;
  background: #2563eb;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
}

.ai {
  text-align: left;
  background: #1e293b;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
}

.input-area {
  display: flex;
  padding: 10px;
  background: #1e293b;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

button {
  margin-left: 5px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
