body {
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:white;
}

.container, .dashboard {
  max-width:400px;
  margin:100px auto;
  background:#1e293b;
  padding:20px;
  border-radius:10px;
}

input {
  width:100%;
  padding:10px;
  margin:10px 0;
  border:none;
  border-radius:5px;
}

button {
  width:100%;
  padding:10px;
  margin-top:10px;
  border:none;
  border-radius:5px;
  background:#2563eb;
  color:white;
}
